.section-clr {
    background-color:rgb(192, 232, 240);
    font-family: monospace, Courier, 'Courier New'
}
.emphasis {
    color:#428f9c
}

body {
    margin-top: 0;
    overscroll-behavior: none;
    background-color:rgb(236, 252, 255)
}

.nav-link:hover {
    color:blueviolet;
    font-weight:bolder;
}