.nav-link.active {
    color:blueviolet;
}
header {
    position: fixed;
    background: #fffafaeb;
    top: 0;
    width: 100%;
    z-index: 9999;
}
a {
    text-decoration: none;
    color:black;
}

.section-clr {
    background-color:#1a1a26;
}
.section-p {
    padding-top:6.5rem;
    padding-bottom:6.5rem;
}

body {
    background-color:#fffafa;
    font-weight:200;
    padding-top: 12px;
    color:white;
}
h4 {
    font-weight:200;
}
.under {
    border-bottom: 4px solid #e87500;
}

.nav-link:hover {
    color:blueviolet;
}

.text-justify {
    text-align:justify;
}

p, li {
    font-size: 20px;
}

.box {
    border: 3px solid white;
    filter: drop-shadow(0px 0px 5px gray);
    background-color: #2e2e4f;
    color: white;
    width: 150px;
    height: 150px;
}