.nav-link.active {
    color:blueviolet;
}
header {
    position: fixed;
    background: #fffafaeb;;
    top: 0;
    width: 100%;
    z-index: 9999;
}
a {
    text-decoration: none;
    color:black;
}

.section-clr {
    background-color:#1a1a26;
}

body {
    background-color:#fffafa;
    font-weight:200;
    padding-top: 12px;
    color:white;
}

.nav-link:hover {
    color:blueviolet;
}

#ttl {
    font-size: 3rem;
    font-weight: 400;
}